Задание 1

Импортируйте библиотеки pandas и numpy.

In [13]:
import numpy as np
import pandas as pd

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [14]:
from sklearn.datasets import load_boston
boston = load_boston()
data = boston["data"]

In [15]:
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
target = boston["target"]
Y = pd.DataFrame(target, columns=["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lr = LinearRegression()

In [21]:
lr.fit(X_train, Y_train)

LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [22]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_lr": y_pred_lr.flatten()})

check_test_lr.head()

     Y_test  Y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [24]:
from sklearn.metrics import r2_score

In [34]:
r2_score_lr = r2_score(Y_test, y_pred_lr)
print(r2_score_lr)

0.711226005748496

Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [27]:
from sklearn.ensemble import RandomForestRegressor

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [28]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [29]:
clf.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [30]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [35]:
r2_score_clf = r2_score(Y_test, y_pred_clf)
print(r2_score_clf)

0.87472606157312

In [43]:
print(r2_score_lr, r2_score_clf)
print(round(abs(r2_score_lr-r2_score_clf)*100))

0.711226005748496 0.87472606157312
16.0

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

Модель "Случайный лес" в данном случае работает лучше, т.к. превосходит в точности модель "Линейная регрессия" примерно на 16 %.

Задание 3

Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.

In [44]:
print(clf.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [45]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

    feature_importance     name
0             0.031676     CRIM
1             0.001543       ZN
2             0.007138    INDUS
3             0.001236     CHAS
4             0.014269      NOX
5             0.402682       RM
6             0.014299      AGE
7             0.063973      DIS
8             0.005281      RAD
9             0.011525      TAX
10            0.018081  PTRATIO
11            0.012451        B
12            0.415847    LSTAT

In [46]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM

Задание 4

В этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке Matplotlib, это датасет Credit Card Fraud Detection.Для этого датасета мы будем решать задачу классификации - будем определять,какие из транзакциции по кредитной карте являются мошенническими.Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки),так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель.Мы будем вычислять AUC, то есть площадь под кривой ROC.
Импортируйте из соответствующих модулей RandomForestClassifier, GridSearchCV и train_test_split.

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

Загрузите датасет creditcard.csv и создайте датафрейм df.

In [58]:
df = pd.read_csv('../Lesson_4/creditcard.csv')

С помощью метода value_counts с аргументом normalize=True убедитесь в том, что выборка несбалансирована.

In [59]:
df['Class'].value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

Используя метод info, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Примените следующую настройку, чтобы можно было просматривать все столбцы датафрейма:
pd.options.display.max_columns = 100.

In [61]:
pd.options.display.max_columns=100

Просмотрите первые 10 строк датафрейма df.

In [62]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,0.359894,-0.358091,-0.137134,0.517617,0.401726,-0.058133,0.068653,-0.033194,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,-1.416907,-0.153826,-0.751063,0.167372,0.050144,-0.443587,0.002821,-0.611987,-0.045575,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,0.291474,1.757964,-1.323865,0.686133,-0.076127,-1.222127,-0.358222,0.324505,-0.156742,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,-0.110452,-0.286254,0.074355,-0.328783,-0.210077,-0.499768,0.118765,0.570328,0.052736,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,1.017614,0.836390,1.006844,-0.443523,0.150219,0.739453,-0.540980,0.476677,0.451773,0.203711,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

Создайте датафрейм X из датафрейма df, исключив столбец Class.

In [63]:
X = df.drop('Class', axis=1)

Создайте объект Series под названием y из столбца Class.

In [64]:
y = df['Class']

Разбейте X и y на тренировочный и тестовый наборы данных при помощи функции train_test_split, используя аргументы: test_size=0.3, random_state=100, stratify=y.

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

У вас должны получиться объекты X_train, X_test, y_train и y_test.

In [67]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

            Time        V1        V2        V3        V4        V5        V6  \
222925  143180.0  2.053474 -0.149880 -1.092234  0.420978 -0.225796 -1.159629
163811  116231.0  0.149477  1.112008 -0.391539 -0.557452  1.014727 -0.801985
196038  131332.0  2.145379  0.215237 -2.221643 -0.067032  0.815822 -1.358596
25173    33527.0 -0.354219  0.100332  1.721509 -0.884417 -0.371977 -0.062313
253792  156421.0 -0.439888  1.871311 -1.106687  1.064853  1.239594 -0.633668
...          ...       ...       ...       ...       ...       ...       ...
194533  130633.0 -0.917471  0.855403  1.516046 -0.220692  0.747332  0.859372
163532  116011.0 -0.818922 -0.653837  1.685615 -1.561367  0.357487  1.306132
47169    43114.0  0.984295 -0.951871  0.760848  0.729305 -1.429835 -0.353366
138367   82618.0  0.699525 -1.558081  0.286748  0.349547 -1.519666 -0.535495
271        192.0 -0.351287  1.183754  0.530794  0.543891  0.798441 -0.804472

              V7        V8        V9       V10       V11       V12       V13  \
222925  0.082871 -0.236532  0.733270  0.102520 -0.908262 -0.220082 -1.216003
163811  1.042734 -0.167625 -0.200830 -0.863839 -0.537991  0.418586  1.034272
196038  0.843943 -0.594243  0.009745 -0.021497 -0.476749  0.848265  1.144607
25173  -0.144740  0.163123 -1.843755  0.520706  1.627755 -0.263976 -0.100123
253792  1.100319  0.221096 -0.917002 -0.844362 -0.888776 -0.219374 -0.076494
...          ...       ...       ...       ...       ...       ...       ...
194533  0.827820  0.281375  0.400861 -1.066695 -2.440113 -0.765055 -1.608691
163532  0.371795 -0.086070 -0.349493  0.156626 -0.675390 -1.141582 -0.944494
47169  -0.542588 -0.063028 -0.419503  0.629828 -0.971147 -0.123702  0.026550
138367 -0.117706 -0.177233 -0.468385  0.452339 -0.967100 -0.115463 -0.277494
271     1.563170 -0.935794  0.633634  2.303627  1.398891 -0.318657 -1.410645

             V14       V15       V16       V17       V18       V19       V20  \
222925  0.534920  0.227331 -0.103995 -0.158785 -0.802113  0.083010 -0.313465
163811 -1.222412 -0.349818  0.290628  0.298838 -0.333729 -0.226373  0.084311
196038  0.555759  0.285353 -0.661516 -0.362293 -0.647254  0.126100 -0.133286
25173   0.125968  0.703573  0.591865  0.665795 -1.191246  1.690163  0.295444
253792 -0.756161 -0.170227 -0.554555  1.442972  0.385060  0.585502  0.024939
...          ...       ...       ...       ...       ...       ...       ...
194533 -0.233655 -1.496631  0.011731 -0.457877 -0.414743 -0.072057 -0.274203
163532 -0.998166 -0.265553 -0.894172  1.536807 -2.702692  0.337977  0.072708
47169  -0.172383  0.361320 -1.416378 -0.041645  1.487895 -1.163956 -0.233008
138367 -0.071079 -0.190450 -1.633818  0.319327  0.736834 -0.609816  0.116917
271    -0.155225  0.277950 -0.706228 -0.780092  0.354094  0.618678  0.596401

             V21       V22       V23       V24       V25       V26       V27  \
222925 -0.298362 -0.779702  0.362701 -0.048183 -0.356438  0.205392 -0.075806
163811 -0.331768 -0.755443  0.079155  0.587098 -0.383245  0.110292  0.229167
196038  0.153606  0.611995 -0.027494  0.824538  0.505014  0.203037 -0.083225
25173   0.136969  0.217167 -0.014350  0.016538 -0.326120 -0.285113  0.118226
253792  0.059066  0.366613 -0.250861  0.494710  0.091257 -0.398552  0.330173
...          ...       ...       ...       ...       ...       ...       ...
194533 -0.583911 -1.674141 -0.248766 -0.213942  0.609341 -1.054254 -0.068467
163532  0.248178  1.356247 -0.603728 -1.037884  0.609915  0.318683 -0.277412
47169  -0.148347 -0.163503 -0.190719  0.378213  0.456626 -0.239030  0.045741
138367 -0.456747 -1.458638 -0.134677  0.368357  0.086125  0.273679 -0.065344
271    -0.121755  0.668124 -0.057380  0.301398 -0.730946 -0.538616 -0.037212

             V28  Amount
222925 -0.063325    1.29
163811  0.086294    2.69
196038 -0.069468    4.55
25173   0.103791   19.95
253792  0.219909    6.30
...          ...     ...
194533  0.048981   34.48
163532 -0.461930  100.79
47169   0.061764  170.00
138367  0.075715  338.40
271    -0.479956    1.79

[199364 rows x 30 columns]
            Time        V1        V2        V3        V4        V5        V6  \
262922  160713.0 -0.548103  1.376074  0.051147  4.300577  1.761938  0.081805
123418   76919.0  0.437324  1.824381 -2.299325  1.538479  0.791887 -1.414298
206135  136082.0  2.056846  0.042030 -1.296059  0.368958  0.032669 -1.349797
273483  165598.0 -0.497480  0.785269  1.695245 -0.644791  0.491553  0.430883
245758  152894.0  1.611949 -0.938343 -1.200421  0.653356 -0.386518 -0.465937
...          ...       ...       ...       ...       ...       ...       ...
109541   71427.0  1.273667  0.348576  0.155665  0.610139 -0.179551 -0.860330
41813    40839.0 -0.442064 -1.217388  1.414466 -1.427350  0.945895  4.810729
16722    28090.0  0.933553 -0.288416  0.398369  0.538503  0.280716  1.657391
36147    38413.0 -4.099698 -3.287632  1.648931  1.793736  1.698853 -0.483157
198375  132464.0 -7.161413  5.244866 -7.056295  0.519916  3.918486 -2.482685

               V7         V8        V9       V10       V11       V12  \
262922   1.788166  -0.302164 -2.941339  1.393164 -1.873436 -1.746983
123418   0.482083   0.339477 -0.674650 -1.234870  1.881042 -0.195098
206135   0.334441  -0.463096  0.452703 -0.016376 -0.526324  0.801353
273483   0.510721   0.053386  0.552390 -0.545978 -1.545755 -0.957582
245758   0.069881  -0.147945  0.849526  0.005008 -1.033421 -0.111964
...           ...        ...       ...       ...       ...       ...
109541   0.100726  -0.195347  0.020811 -0.291052 -0.347286  0.242342
41813   -1.657637   1.121731  0.529958  0.344311 -1.165678 -0.613130
16722   -0.408491   0.596638  0.174499 -0.234109  2.003246  1.568237
36147   -0.603089   0.271586  0.127974  0.486426  1.213868  0.653035
198375 -14.996357 -15.904451 -1.835893 -4.195324 -0.599012  2.849676

             V13       V14       V15       V16       V17       V18       V19  \
262922 -0.852186  1.058096  0.371916 -0.783216  0.322476  0.210874  1.701892
123418 -0.688822 -2.926057  0.427144  1.279861  2.651797  2.224899 -0.000361
206135  1.006171  0.303048  0.637776 -0.262217 -0.553146 -0.181507 -0.244297
273483 -0.913807 -0.066661  1.561068  0.043679 -0.672767  0.650035  1.013564
245758 -0.645005  0.305443  0.414153  0.183540 -0.410625 -0.207679 -0.171987
...          ...       ...       ...       ...       ...       ...       ...
109541  0.526277 -0.355216  1.094805  0.572843 -0.149382 -0.210053 -0.065830
41813  -0.028020 -1.823057 -1.339567  0.385304  0.595942 -0.497526  2.165032
16722  -0.135354  0.244879  0.175965 -1.350302  0.983088 -2.162239 -1.054337
36147   0.600744 -0.210172  1.429186  0.531294 -0.727684  0.778147  0.518246
198375 -3.349200  3.432775 -1.566190  1.768522  3.985681  1.689386 -1.590626

             V20       V21       V22       V23       V24       V25       V26  \
262922  0.451713  0.316647  0.700714 -0.532490 -0.680250  1.232858  0.980223
123418 -0.009730 -0.077049 -0.170282  0.108469 -0.365513 -0.436975 -0.393859
206135 -0.167702  0.261879  0.949829 -0.018148  0.109873  0.295611 -0.115295
273483  0.212146 -0.280792 -0.548862 -0.367317 -0.044278  0.430846 -0.657662
245758  0.214406  0.081319 -0.184030  0.065733  0.742927 -0.283315  0.172087
...          ...       ...       ...       ...       ...       ...       ...
109541 -0.045382 -0.305978 -0.878975  0.078359 -0.008235  0.270545  0.115470
41813   0.391646  0.309636  1.298415 -0.227884  1.109008 -0.265818  0.066769
16722  -0.169897 -0.038509  0.109277  0.095344 -0.983303  0.097938  0.376637
36147  -1.029740 -0.219962  1.209664  2.771741 -0.317573  0.388055 -0.137592
198375  2.685353 -7.997422  2.642809 -8.535706 -0.170266 -3.930720 -1.005978

             V27       V28  Amount
262922 -0.042880  0.053000  101.42
123418  0.121535 -0.061320    9.99
206135 -0.015115 -0.054976   10.49
273483  0.179848 -0.081837    1.00
245758 -0.091352 -0.009690  227.75
...          ...       ...     ...
109541 -0.022792  0.028417    5.99
41813  -0.031789 -0.007266   58.50
16722   0.038959 -0.005783   42.48
36147   0.776599  0.085259   71.76
198375 -1.311254  0.237822   86.52

[85443 rows x 30 columns]
222925    0
163811    0
196038    0
25173     0
253792    0
         ..
194533    0
163532    0
47169     0
138367    0
271       0
Name: Class, Length: 199364, dtype: int64
262922    0
123418    0
206135    0
273483    0
245758    0
         ..
109541    0
41813     0
16722     0
36147     0
198375    0
Name: Class, Length: 85443, dtype: int64

Просмотрите информацию о их форме.

In [68]:
print('X_train ', X_train.shape)
print('X_test ', X_test.shape)
print('y_train ', y_train.shape)
print('y_test ', y_test.shape)

X_train  (199364, 30)
X_test  (85443, 30)
y_train  (199364,)
y_test  (85443,)

Для поиска по сетке параметров задайте такие параметры:
parameters = [{'n_estimators': [10, 15],
'max_features': np.arange(3, 5),
'max_depth': np.arange(4, 7)}]

In [69]:
parameters = [{
    'n_estimators': [10, 15], 
    'max_features': np.arange(3, 5), 
    'max_depth': np.arange(4, 7)
}]

Создайте модель GridSearchCV со следующими аргументами:
estimator=RandomForestClassifier(random_state=100),
param_grid=parameters,
scoring='roc_auc',
cv=3.

In [70]:
clf = GridSearchCV(
    estimator=RandomForestClassifier(random_state=100),
    param_grid=parameters,
    scoring='roc_auc',
    cv=3,
)

Обучите модель на тренировочном наборе данных (может занять несколько минут).

In [71]:
clf.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=100),
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             scoring='roc_auc')

Просмотрите параметры лучшей модели с помощью атрибута best_params_.

In [74]:
clf.best_params_

{'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

In [75]:
clf = RandomForestClassifier(max_depth=6, max_features=3, n_estimators=15)

clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, max_features=3, n_estimators=15)

Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.

In [76]:
y_pred = clf.predict_proba(X_test)

Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив y_pred_proba.

In [77]:
y_pred_proba = y_pred[:, 1]

Из модуля sklearn.metrics импортируйте метрику roc_auc_score.

In [78]:
from sklearn.metrics import roc_auc_score

Вычислите AUC на тестовых данных и сравните с результатом,полученным на тренировочных данных, используя в качестве аргументовмассивы y_test и y_pred_proba.

In [79]:
roc_auc_score(y_test, y_pred_proba)

0.9457677884226923